.whyUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whyUs_Section {
    width: 100%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.whyUs h1 {
    font-size: 36px;
    margin-bottom: 2.7rem;
}

.reasons {
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: calc(100% - 144px);
}

.reason {
    flex: 0 0 calc(33.3% - 40px);
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #F5F7FA;
    border-radius: 20px;
    padding: 25px;
}

.reason span {
    font-size: 1.3rem;
    padding: 10px;
    background-color: #4A21EF;
    border-radius: 50%;
    color: #FFFFFF;
}