* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.joinSection {
    height: 62vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join_Wrapper {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.join_Wrapper h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.join_Wrapper p {
    line-height: 1.5rem;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2.5rem;
}

.join_Wrapper .email-input {
    width: 24.5rem;
    border-radius: 99px;
    border: none;
    outline: none;
    border: 1px solid #C9D2DA;
    padding: 15px 15px 15px 24px;
    padding-right: 8rem;

}

.join_Wrapper button {
    background-color: #4A21EF;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 1rem;
    color: #FFFFFF;
    border: none;
    outline: none;
    border: 1px solid #4A21EF;
    position: absolute;
    cursor: pointer;
    margin-right: 8px;
}